# Binary
bin/
BINARY_NAME

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

# Coverage
coverage.*

# GoReleaser
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# direnv
.envrc.local

# Debug
__debug_bin*
